.searchbox{
    text-align: center;
}

.searchresult{
    text-align: center;
}

.search_result_table{
 display: inline-block;
    border: 1px solid red;
    margin:10px;
 }

/*
div {
    border: 3px solid #73AD21;
}
*/




