{% extends 'base.html' %}

{% block header %}
<div class="row justify-content-center"> <p class="h1">Рекомендательная система ресторанов</p> </div>
{% endblock %}

{% block content %}

<!-- Блок с поиска -->
<div id="searchbox">
    <div class="row justify-content-center">Поиск пользователя по ID</div>

    <div class="row justify-content-center">
        <form action="/" method="POST">
            <div class="form-group row">
                <label for="user_id" class="col-sm-3 col-form-label">User</label>
                <div class="col-sm-9">
                  <input class="form-control" id="user_id" placeholder="user ID" name="user_id">
                </div>
            </div>
            <div class="form-group">
                <label for="productIdSelect">Product ID</label>
                <select name="prod_ids[]" multiple="multiple" class="form-control" id="productIdSelect">
                    {% for prod_id in product_ids %}
                        <option value={{prod_id}}>{{prod_id}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Искать</button>
        </form>
    </div>
</div>


<!-- Блок с результатами -->
{% if data %}
    <div>
        <div class="row justify-content-center"> Информация по пользователю ID = {{data['user']['user_id']}} </div>
        <div class="row justify-content-center">
            <div class ="search_result_table">
            <p>История заказов:</p>
            {% if data['history'] %}
                <table class="table table-hover">
                    <tr>
                        <th>ID ресторана</th>
                        <th>Название ресторана</th>
                    </tr>
                {% for chain in data['history'] %}
                    <tr>
                        <td>{{ chain['chain_id'] }}</td>
                        <td>{{ chain['chain_name'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>История заказов не найдена</p>
            {% endif %}
        </div>
            <div class="search_result_table">
            <p>Рекомендации:</p>
            {% if data['recommendations'] %}
                <table class="table table-hover">
                    <tr>
                        <th>ID ресторана</th>
                        <th>Название ресторана</th>
                    </tr>
                {% for chain in data['recommendations'] %}
                    <tr>
                        <td>{{ chain['chain_id'] }}</td>
                        <td>{{ chain['chain_name'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Рекомендаций нет</p>
            {% endif %}
        </div>
        </div>
    </div>
{% endif %}

{% endblock %}