{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Рекомендательная система ресторанов для Delivery Club{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Блок с поиска -->
<!--
<div class="searchbox">
    <p>Введите ID пользователя для поиска</p>
    <form action="/" method="post">
      <input type="text" placeholder="ID Пользователя" name="user_id">
      <button type="submit"><i class="fa fa-search">Поиск</i></button>
    </form>
  </div>
  -->

<div>
    <div class="row justify-content-center">Поиск пользователя по ID</div>

    <div class="row justify-content-center">
        <form class="form-inline" action="/" method="post">
          <input type="text" class="form-control mb-2 mr-sm-2" name="user_id" id="user_id_input" placeholder="ID пользователя">
          <button type="submit" class="btn btn-primary mb-2">Искать</button>
        </form>
    </div>
</div>




<!-- Блок с результатами -->
{% if data %}
    <div class="searchresult">
        <div class="row justify-content-center"> Информация по пользователю ID = {{data['user']['user_id']}} </div>
        <div class ="search_result_table">
            <p>История заказов:</p>
            {% if data['history'] %}
                <table class="table table-hover">
                    <tr>
                        <th>ID ресторана</th>
                        <th>Название ресторана</th>
                    </tr>
                {% for chain in data['history'] %}
                    <tr>
                        <td>{{ chain['chain_id'] }}</td>
                        <td>{{ chain['chain_name'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>История заказов не найдена</p>
            {% endif %}
        </div>

        <div class="search_result_table">
            <p>Рекомендации:</p>
            {% if data['recommendations'] %}
                <table class="table table-hover">
                    <tr>
                        <th>ID ресторана</th>
                        <th>Название ресторана</th>
                    </tr>
                {% for chain in data['recommendations'] %}
                    <tr>
                        <td>{{ chain['chain_id'] }}</td>
                        <td>{{ chain['chain_name'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Рекомендаций нет</p>
            {% endif %}
        </div>
    </div>
{% endif %}

{% endblock %}