{% extends 'base.html' %}

{% block header %}
<div class="row justify-content-center"> <p class="h1">Рекомендательная система ресторанов</p> </div>
{% endblock %}

{% block content %}

<!-- Блок карточек-->
<form action="" method="post">
    <div class="row justify-content-center">
    <div class="card" style="width: 11rem;">
      <img src="https://cdn1.flamp.ru/69fb734a3adcb5781800b324c2d43b5c.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h7 class="card-title">Якитория</h7>
        <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off" name="yak"> Выбрать
        </label>
      </div>
    </div>
    <div class="card" style="width: 11rem;">
      <img src="https://p2.zoon.ru/preview/DVKAavHqWvx3kcipvGVdPw/2400x1500x85/1/f/5/original_510d3625a0f3026423000001_5c9aff54b7689.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h7 class="card-title">Тануки</h7>
        <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off" name="tan"> Выбрать
        </label>
      </div>
    </div>
    <div class="card" style="width: 11rem;">
      <img src="https://cdn.worldvectorlogo.com/logos/burger-king-997.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <h7 class="card-title">Бургер Кинг</h7>
        <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off" name="bk"> Выбрать
        </label>
      </div>
    </div>
    <div class="card" style="width: 11rem;">
      <img src="https://рио.москва/storage/app/uploads/public/5db/850/e95/5db850e951261197656894.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h7 class="card-title">Крошка картошка</h7>
        <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off" name="kk"> Выбрать
        </label>
      </div>
    </div>
</div>
<div class="row justify-content-center">
    <input type="submit" >
</div>
</form>

<!-- Блок с результатами -->
{% if data %}
    <div>
        <div class="row justify-content-center">
            <div class="search_result_table">
            <p>Рекомендации:</p>
            {% if data['recommendations'] %}
                <table class="table table-hover">
                    <tr>
                        <th>ID ресторана</th>
                        <th>Название ресторана</th>
                    </tr>
                {% for chain in data['recommendations'] %}
                    <tr>
                        <td>{{ chain['chain_id'] }}</td>
                        <td>{{ chain['chain_name'] }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Рекомендаций нет</p>
            {% endif %}
        </div>
        </div>
    </div>
{% endif %}


{% endblock %}